format = """
[╭](fg:#828bb8)\
$os\
$directory\
$git_branch\
$nodejs\
$rust\
$java\
$golang\
$php\
$fill\
$kubernetes\
$aws\
\n$character"""

right_format = """
"""

scan_timeout = 35
command_timeout = 700

# Custom palette
palette = "tokyonight"

[palettes.tokyonight]
bg = "#2d3f76"
fg = "#c8d3f5"
black = "#222436"
red = "#ff757f"
green = "#c3e88d"
yellow = "#ffc777"
blue = "#82aaff"
magenta = "#c099ff"
cyan = "#86e1fc"
grey = "#828bb8"

[character]
format = """
[╰─$symbol](fg:#828bb8) """
success_symbol = '[](fg:green)'
error_symbol = '[](fg:red)'
vimcmd_symbol = '[](fg:blue)'

[fill]
symbol = " "

[directory]
style = "fg:blue" 
format = "[ $path]($style)"
truncation_length = 3
truncation_symbol = ""

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = " "
"Pictures" = " "

[os]
disabled = false
format = "[ $symbol]($style)"
style = "fg:grey"

[os.symbols]
Macos = "󰀵"
Linux = "󰌽"
Arch = "󰣇"

[git_branch]
symbol = ""
format = "[ $symbol $branch](fg:#c099ff)"

[git_status]
format = "[($all_status$ahead_behind)]($style)"
style = "fg:red"

[nodejs]
symbol = ""
format = "[ $symbol ($version)]($style)"
style = "fg:green"

[rust]
symbol = ""
format = "[ $symbol ($version)]($style)"
style = "fg:red"

[golang]
symbol = ""
format = "[ $symbol ($version)]($style)"
style = "fg:cyan"

[php]
symbol = ""
format = "[ $symbol ($version)]($style)"
style = "fg:blue"

[java]
symbol = ""
format = "[ $symbol ($version)]($style)"
style = "fg:red"

[kubernetes]
format = "[$symbol($context) ]($style)"
style = "fg:blue"

[aws]
symbol = " "
style = "fg:yellow"
format = '[$symbol($profile )($region )($duration )]($style)'

